models/ingredient_classifier/checkpoint*
models/ingredient_classifier/model.safetensors
models/ingredient_classifier/training_args.bin
models/__pycache__/*
utils/__pycache__/*
data/ingredient_classifier_dataset.csv
data/ingredient_dataset.csv
data/prediction_log.jsonl

